In [11]:
import pandas as pd
import numpy as np
a=pd.read_csv("reg2.csv")
a

      x     y
0  13.0  66.6
1  14.0  78.8
2  11.4  69.7
3  15.5  77.4
4  17.6  72.5
5  21.5  89.6
6  29.9  85.5
7  25.0  75.8
8  16.6  87.2
9  10.8  89.1

In [12]:
y=a['y']
y

0    66.6
1    78.8
2    69.7
3    77.4
4    72.5
5    89.6
6    85.5
7    75.8
8    87.2
9    89.1
Name: y, dtype: float64

In [13]:
type(y)

pandas.core.series.Series

In [37]:
y.shape

(10,)

In [15]:
x=a['x']
x

0    13.0
1    14.0
2    11.4
3    15.5
4    17.6
5    21.5
6    29.9
7    25.0
8    16.6
9    10.8
Name: x, dtype: float64

In [18]:
x=pd.DataFrame(a['x'])
x.shape

(10, 1)

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [23]:
x_train

      x
3  15.5
2  11.4
7  25.0
8  16.6
6  29.9
1  14.0
5  21.5

In [26]:
y_test

0    66.6
9    89.1
4    72.5
Name: y, dtype: float64

In [30]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [33]:
model.fit(x_train,y_train)

LinearRegression()

In [35]:
model.coef_

array([0.51329148])

In [38]:
model.intercept_

70.75289574235808

In [40]:
ypred=model.predict(x_test)
ypred

array([77.42568504, 76.29644378, 79.78682587])

In [42]:
print(y_test)

0    66.6
9    89.1
4    72.5
Name: y, dtype: float64

In [46]:
from sklearn import metrics
print('mse=',metrics.mean_squared_error(ypred,y_test))
print('mse=',metrics.mean_absolute_error(ypred,y_test))

mse= 111.4081133071446
mse= 10.305355713245993